<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
</head>
<body>
    <header>
        <nav>
            <div class="Brand"></div>
            <ul>
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="#">Confere Cookie</a>
                </li>
                <li>
                    <a href="#">Cadastra Cookie</a>
                </li>
            </ul>
        </nav>
    </header>
    <div>@RenderBody()</div>
    <footer>
        <p>&copy;2021</p>
    </footer>
</body>
</html>